<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Payment - multisig.tools</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <style>
        .word-break {
            word-break: break-all;
            word-wrap: break-all;
        }
    </style>
</head>

<body>
    <div class="container">
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        SIGNATURE LIST
                    </h1>
                    <h2 class="subtitle">
                        multisig.tools
                    </h2>
                </div>
            </div>
            <div class="hero-foot">
                <nav class="tabs is-boxed is-fullwidth">
                    <div class="container">
                        <ul>
                            <li>
                                <a href="/">SIGNATURE LIST</a>
                            </li>
                            <li class="is-active">
                                <a href="create">NEW PAYMENT</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
        <section>
            <div class="card">
                <div class="card-content">
                    <div class="content word-break">
                        hash: d09f0778512469366b7aab9820c8bd859ad52f58778ac8129b1a2bdb20c27937
                        <br> Payment: Pay 10 XLM to GAZEX2USUBMMWFRZFS77VDJYXUFLXI4ZGFPWX6TBNZCSTEQWNLFZMXFF
                        <br> Status: 7 / 10
                        <br>
                        <button class="button is-primary">Detail</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="content word-break">
                        hash: d09f0778512469366b7aab9820c8bd859ad52f58778ac8129b1a2bdb20c27937
                        <br> Payment: Pay 10 XLM to GAZEX2USUBMMWFRZFS77VDJYXUFLXI4ZGFPWX6TBNZCSTEQWNLFZMXFF
                        <br> Status: 7 / 10
                        <br>
                        <button class="button is-primary">Detail</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="content word-break">
                        hash: d09f0778512469366b7aab9820c8bd859ad52f58778ac8129b1a2bdb20c27937
                        <br> Payment: Pay 10 XLM to GAZEX2USUBMMWFRZFS77VDJYXUFLXI4ZGFPWX6TBNZCSTEQWNLFZMXFF
                        <br> Status: 7 / 10
                        <br>
                        <button class="button is-primary">Detail</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>